h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 20px 38px 12px 12px;
    margin-bottom: -5px;
}
ul.a{
    list-style-type: none;
    margin-left: -30px;
    margin-top: -5px;
    margin-bottom: 20px;
  }
h2{
    margin-left: 10px;
    color: #9969b5;
}
h2.a{
    padding-top: 10px;
}
h3{
    margin-left: 10px;
    text-align: left;
}
h3.a{
    margin-bottom: -8px;
}
ul.c{
    list-style-type: none;
    padding-left: 10px;
}
div.a{
    float: right;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    padding: 6px;
    border: 2px dotted purple;
    box-sizing: border-box;
    margin-right: 5px;
}
div.b{
    font-size:18px;
}
body {
    background-image: url("./gradient_bg.png");
    background-color:white;
    background-repeat: repeat-x;
    font-family: 'Tinos', serif;

}
p {
    background-color: white;
    padding: 10px;
    margin: 5px;
    border: 2px solid lightcoral;
}